<%= render 'shared/page_title', title: "Сите групи на лекови" %>
<%= render 'layouts/navigation2' %>

<% @groups.each do |group| %>
    <div class="row">
        <div class="col-lg-12 well">
            <section class="chef_info center">
               <h3> <%= link_to group.ime_grupa, group_path(group) %></h3>
            </section>
        </div>
    </div>
    <hr/>
<% end %>

