<%= render 'shared/page_title', title: "Сите подгрупи" %>

<% @subgroups.each do |subgroup| %>
    <div class="row">
        
        <div class="col-lg-12 well">
            <section class="chef_info center">
                <h3><%= link_to subgroup.ime_podgrupa, subgroup_path(subgroup) %></h3>
                <h4> е подгрупа од група <%= subgroup.group.ime_grupa  %> </h4>
                
            </section>
        </div>
        
    </div>
    <hr/>
<% end %>