<%= render 'shared/page_title', title: "Контакт" %>
        
    <div class="col-lg-12 well">
        <strong> <h3>Катерина Коцева</h3> </strong>
        <h4>E-маил: katerinakcv@gmail.com</h4>
        <%= image_tag(gravatar_url(@owner) %>
        <%= link_to gravatar_for("katerina_kcv@yahoo.com", size:100), "" %>
    </div>
<hr/>