<div>
    <% if logged_in? && (@reviewgen.user == current_user || current_user.admin?) %>
    <div class="pull-right small">
      <%= link_to "[Edit]", edit_generic_name_reviewgeneric(@reviewgen.id) %>
      <%= link_to "[Delete]", [@generic_name, @reviewgen], method: :delete %>
    </div>
    <% end %>
    <hr/>
</div>