<%= render 'shared/page_title', title: "Сите производители" %>

<%= will_paginate %>
<% @producers.each do |prod| %>
    <div class="row">
        <div class="col-lg-12 well">
            <section class="chef_info center">
               <h3> <%= link_to prod.ime_proizvoditel, producer_path(prod) %></h3>
            </section>
        </div>
    </div>
    <hr/>
<% end %>
<%= will_paginate %>